<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" >
  <div class="container" style="display: flex;flex-direction: row; gap:900px">
    <a class="navbar-brand" href="#">Simply Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav ms-auto" >
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('profilepage')}}"  style="display: flex; flex-direction: row-reverse; gap:5px; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" 
                stroke-width="2"><path stroke-linejoin="round" d="M4 18a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4a2 2 0 0 1-2 
                2H6a2 2 0 0 1-2-2Z"/><circle cx="12" cy="7" r="3"/></g></svg>
            
            <p>Username</p>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('createpage')}}" style="display: flex; flex-direction: row-reverse; gap:5px; ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" 
        height="24" viewBox="-0.5 -0.5 24 24">
        <path fill="currentColor" d="m21.289.98l.59.59c.813.814.69 2.257-.277 3.223L9.435 16.96l-3.942
        1.442c-.495.182-.977-.054-1.075-.525a.928.928 0 0 1 .045-.51l1.47-3.976L18.066 1.257c.967-.966
        2.41-1.09 3.223-.276zM8.904 2.19a1 1 0 1 1 0 2h-4a2 2 0 0 0-2 2v12a2 2 0 0 0 2
        2h12a2 2 0 0 0 2-2v-4a1 1 0 0 1 2 0v4a4 4 0 0 1-4 4h-12a4 4 0 0 1-4-4v-12a4 4 0 0 1 4-4h4z"/></svg>
            <p>Write</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="none" 
    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" 
    d="M427.68 351.43C402 320 383.87 304 383.87 217.35C383.87 138 343.35 
    109.73 310 96c-4.43-1.82-8.6-6-9.95-10.55C294.2 
    65.54 277.8 48 256 48s-38.21 17.55-44 37.47c-1.35 4.6-5.52 8.71-9.95 10.53c-33.39 13.75-73.87 41.92-73.87 
    121.35C128.13 304 110 320 84.32 351.43C73.68 
    364.45 83 384 101.61 384h308.88c18.51 0 
    27.77-19.61 17.19-32.57ZM320 384v16a64 64 0 0 1-128 0v-16"/></svg>

          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>