{% extends 'main.html' %}

{%block title%}
    Welcome to simple blogPost
{%endblock%}

{%block content%}

<div style="margin-top: 80px;padding:30px">
<h1>Hi, Username</h1>

<h3>Welcome to simply Blog</h3>

<div style="display: flex; flex-direction: row; 
justify-content:center;
width: 1000px; height:auto; flex-wrap: wrap;
margin-right: auto;
margin-left: auto;
">
    <div >
    <h4 style="font-weight: bold;margin-top: 10px;text-align:center">Available Blogs</h4>
<hr>

     <ul style="margin-top:50px;display:flex;flex-direction:column;justify-content: center;">
        <a href="{{url_for('viewBlogpage')}}" style="text-decoration: none; color:black; ">
<li style="display: flex; flex-direction: column;">
    <div style="display: flex;flex-direction: row;gap:5px;">

<p>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" 
                stroke-width="2"><path stroke-linejoin="round" d="M4 18a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4a2 2 0 0 1-2 
                2H6a2 2 0 0 1-2-2Z"/><circle cx="12" cy="7" r="3"/></g></svg>
    Username -

<p>Aug 5</p>
</p>

</div>

<h3 style="height: 30px;">
    How I Become a full stack software developer in 7 months(self taught).
</h3>

<div style="display: flex; flex-direction: row; justify-content: space-between; margin-top:10px;">
<div style="margin-top: 10px; height: 70px; text-overflow: ellipsis; overflow: hidden; width:450px">
Before studying, I made it clear in my mind that I don’t need to master anything at that point. My aim was to get a job in the web dev field, just make an entry into it.
Even now, I study JavaScript occasionally just to get my mind over the concepts of asynchronous nature, promises, async/await and a bunch of other things...
</div>
<img src="Img/placeholder.png" alt="" style="width:200px; height:120px; border-radius: 5px; border:none;">
</div>

<hr style="width: auto;">
</li>
</a>
</ul>
    </div>

   

</div>
</div>
{%endblock%}