{% extends 'main.html' %}

{%block title%}
    Welcome to simple profile
{%endblock%}

{%block content%}
<div style="display:flex;
flex-direction: column;
justify-content:center;
margin-left:auto;
margin-right:auto;
gap:7px;
width:500px;
height:auto;
margin-top: 90px;
">

<img src="Img/placeholder.png" alt="" style="width:200px; height: 200px; border-radius: 80px; margin-left:auto; margin-right:auto;border-width: 5px;">

<h3 style="text-align: center;">Username</h3>
<h2 style="text-align: center;">emmanuelatikese@gmail</h2>
<p style="text-align: center;">This account was created at Aug 7</p>

<a href="{{url_for('profileUpdate')}}" type="submit" style="text-align: center;">Edit</a>



</div>

{%endblock%}