{% extends 'main.html' %}

{%block title%}
    Welcome to the view page
{%endblock%}

{%block content%}

<div style="display: flex; margin-right:auto; margin-left: auto; justify-content: center;width: 700px;height: auto;margin-top: 90px;flex-wrap: wrap;">
<h1 style="text-align: center; font-weight: bold;">How I Became a Full Stack Software Developer in 7 Months (Self-taught).</h1>

<div style=" display: flex; flex-direction: row; gap:8px;font-weight: bold;">

<p>Published by Username</p>
-
<p>Aug 7</p>
</div>

<img src="Img/placeholder.png" alt="" style="width: 700px; height:450px; border-radius: 5px;margin-top: 25px;">

<div style="width: 700px; height: auto; line-height: 2.5; font-size: 20px; font-family: 'Times New Roman', Times, serif; font-weight: 550;margin-top: 25px;">

Let’s be realistic here.

Becoming a full stack developer in less than 3 or 4 months is nearly impossible. Maybe there would be only about 1% of people who would have achieved it but for the rest of 99%, that doesn’t happen.

I quit my job as a Content Writer in 2021 and started preparing for a job in the web development field as I was fascinated by the idea of having a solid working output while writing just a few lines of code.

What did I study?
Before studying, I made it clear in my mind that I don’t need to master anything at that point. My aim was to get a job in the web dev field, just make an entry into it.

Therefore, I studied only that which would require me to build a coding project that I could mention in my resume.

So during my previous job, I started studying web development from scratch during the late hours of the day. I went to the MDN web docs and searched for the same.

There I came to know about the fundamentals of the web and how it works.

Once I got a basic understanding about the web, I dived into actual coding!
</div>


{%include 'comment.html'%}
</div>

{%endblock%}

